<div class="super_container">

  <!-- Header -->
  <header class="header">

    <div class="header-1">

        <a href="#" class="logo"><img src="../../../assets/images/logo.png"></a>

        <form action="" class="search-form" #search_form>
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn" (click)="change(search_form)" class="fas fa-search"></div>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div id="login-btn" class="fas fa-user"></div>
        </div>

    </div>

    <!-- <div class="header-2">
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#featured">featured</a>
            <a href="#arrivals">arrivals</a>
            <a href="#reviews">reviews</a>
            <a href="#blogs">blogs</a>
        </nav>
    </div> -->

</header>
<header class="header2">
  <div >
    <div class="row d-flex justify-content-center ">
    
      <!-- menu start here -->
      <div class="header-item d-flex justify-content-center">
        <div class="menu-overlay" #overlay>
        </div>
        <nav class="menu" #menu>
          <div class="mobile-menu-head" #mobileMenuHead>
            <div class="go-back" (click)="hideSubMenu(submenu)"><i class="fa fa-angle-left"></i></div>
            <div class="current-menu-title"></div>
            <div class="mobile-menu-close" (click)="menuClick(menu,overlay,mobileMenuHead)">&times;</div>
          </div>
          <ul class="menu-main" >
            <li>
              <a href="#">All Cakes</a>
            </li>
          
            <li class="menu-item-has-children" (click)="subMenu(submenu)">
              <a href="#">By Category <i class="fas fa-angle-down"></i></a>
              <div class="sub-menu single-column-menu" #submenu>
                <ul>
                  <li *ngFor="let cat of categoryList"><a routerLink="/category-wise/{{cat._id}}/{{cat.catName}}">{{cat.catName}}</a></li>
                  
                </ul>
              </div>
            </li>
            <li class="menu-item-has-children" (click)="subMenu(submenu2)">
              <a href="#">By Occassion  <i class="fas fa-angle-down"></i></a>
              <div class="sub-menu single-column-menu" #submenu2>
                <ul>
                  <li *ngFor="let occ of occassionList"><a routerLink="/occassion-wise/{{occ._id}}">{{occ.occName}}</a></li>
                
                </ul>
              </div>
            </li>
            <li class="menu-item-has-children" (click)="subMenu(submenu3)">
              <a href="#">By Flavour <i class="fas fa-angle-down"></i></a>
              <div class="sub-menu single-column-menu" #submenu3>
                <ul>
                  <li *ngFor="let flavour of flavourList"><a routerLink="/flavour-wise/{{flavour._id}}/{{flavour.flavourname}}">{{flavour.flavourname}}</a></li>
                 
                </ul>
              </div>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- menu end here -->
      <div class="header-item item-right">
    
        <div class="mobile-menu-trigger" (click)="menuClick(menu,overlay,mobileMenuHead)">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>


  <!-- <section class="second-nav m-0">
    <header>
      <div class="navigation">
        <ul class="menu">
          <div class="close-btn"></div>
          <li class="menu-item"><a href="/">Home</a></li>
          <li class="menu-item"><a href="#">All Cakes</a></li>

          <li class="menu-item">
            <a class="sub-btn">By Category <i class="fas fa-angle-down"></i></a>
            <ul class="sub-menu" >
              <li class="sub-item" *ngFor="let cat of categoryList"><a routerLink="/category-wise/{{cat._id}}/{{cat.catName}}">{{cat.catName}}</a></li>
            </ul>
          </li>

          <li class="menu-item">
            <a class="sub-btn">By Occassion <i class="fas fa-angle-down"></i></a>
            <ul class="sub-menu" >
              <li class="sub-item" *ngFor="let occ of occassionList"><a routerLink="/occassion-wise/{{occ._id}}">{{occ.occName}}</a></li>
            </ul>
          </li>

          <li class="menu-item">
            <a class="sub-btn">By Flavour<i class="fas fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li class="sub-item" *ngFor="let flavour of flavourList"><a routerLink="flavour-wise/{{flavour._id}}/{{flavour.flavourname}}">{{flavour.flavourname}}</a></li>

              <li class="sub-item more">
                <a class="more-btn">More Items <i class="fas fa-angle-right"></i></a>
                <ul class="more-menu">
                  <li class="more-item"><a routerLink="product-view">product</a></li>
                  <li class="more-item"><a>More Item 02</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item"><a>Services</a></li>
          <li class="menu-item"><a>About</a></li>
          <li class="menu-item"><a routerLink="contact">Contact</a></li>
        </ul>
      </div>
      <div class="menu-btn"></div>
    </header>
  </section> -->


 <router-outlet></router-outlet>
                       <!-- FOOTER SECTION -->
  
                       <section class="footer">
    
                        <!-- Remove the container if you want to extend the Footer to full width. -->
                        <div class="container-fluid my-5">
                      
                          <footer class="text-center text-lg-start">
                            <div class="container-fluid p-4">
                              <div class="row mt-4" style="text-align: -webkit-center;">
                                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                                  <h5 class="text-uppercase mb-4">About company</h5>
                      
                                  <p class="text-black">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum deleniti atque corrupti.
                                  </p>
                      
                                  <p class="text-black">
                                    Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                    molestias.
                                  </p>
                      
                                </div>
                             
                                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                  <h5 class="text-uppercase mb-4 pb-1">Search something</h5>
                                  <ul class="fa-ul text-black " style="margin-left: 1.65em; width: max-content;" >
                                    <li class="mb-3">
                                      <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Indore, 452010, India</span>
                                    </li>
                                    <li class="mb-3">
                                      <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">contact@Cake.com</span>
                                    </li>
                                    <li class="mb-3">
                                      <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+91 786787675</span>
                                    </li>
                                  </ul>
                                </div>
                                <!--Grid column-->
                      
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                  <h5 class="text-uppercase mb-4">Opening hours</h5>
                      
                                  <table class="table text-center">
                                    <tbody class="fw-normal">
                                      <tr>
                                        <td>Mon - Thu:</td>
                                        <td>8am - 9pm</td>
                                      </tr>
                                      <tr>
                                        <td>Fri - Sat:</td>
                                        <td>8am - 1am</td>
                                      </tr>
                                      <tr>
                                        <td>Sunday:</td>
                                        <td>9am - 10pm</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <!--Grid column-->
                              </div>
                              <!--Grid row-->
                            </div>
                            <!-- Grid container -->
                      
                            <!-- Copyright -->
                            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                              © 2022 Copyright:
                              <a class="text-white" href="#">priyanshu.com</a>
                            </div>
                            <!-- Copyright -->
                          </footer>
                      
                        </div>
                      </section>
                      
                      
                      
                      
                      
</div>
                    