/*********************************
3. Header
*********************************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 
.header {
  position: relative;
  width: 100%;
  top: 0;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */




.second-nav header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--section-back);
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  padding: 0 100px;
  transition: 0.6s;
}


.second-nav header .navigation{
  position: relative;
  line-height: 75px;
  transition: 0.6s;
  transition-property: line-height;
  z-index:20;   
}

.second-nav header.sticky .navigation{
  line-height: 60px;
}

.second-nav header .navigation .menu{
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.second-nav .menu-item > a{
  color: var(--head-text);
  font-size: 1.3em;
  text-decoration: none;
  margin: 20px;
  padding: 25px 0;
}

.second-nav .menu-item > a:hover{
  color: #469DFF;
  transition: 0.3s;
}

.second-nav .menu-item .sub-menu{
  position: absolute;
  background: #23252B;
  top: 74px;
  line-height: 40px;
  list-style: none;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

.second-nav header.sticky .menu-item .sub-menu{
  top: 60px;
}

.second-nav .menu-item:hover .sub-menu{
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.second-nav .menu-item .sub-menu .sub-item{
  position: relative;
  padding: 7px 0;
  cursor: pointer;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.second-nav .menu-item .sub-menu .sub-item a{
  color: var(--head-text);
  font-size: 1em;
  text-decoration: none;
  padding: 15px 30px;
}

.second-nav .menu-item .sub-menu .sub-item:hover{
  background: var(--head-text);
}

.second-nav .menu-item .sub-menu .sub-item:last-child:hover{
  border-radius: 0 0 8px 8px;
}

.more .more-menu{
  position: absolute;
  background: var(--section-back);
  list-style: none;
  top: 0;
  left: 100%;
  white-space: nowrap;
  border-radius: 0 8px 8px 8px;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

.more:hover .more-menu{
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.more .more-menu .more-item{
  padding: 7px 0;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.more .more-menu .more-item:hover{
  background: var(--head-text);
}

.second-nav .menu-btn{
  display: none;
}

@media (max-width: 1060px){
  .second-nav header .navigation .menu{
    position: fixed;
    display: block;
    background: #23252b;
    min-width: 350px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 90px 50px;
    visibility: hidden;
    overflow-y: auto;
    transition: 0.5s;
    transition-property: right, visibility;
  }

  .second-nav header.sticky .navigation{
    line-height: 75px;
  }

  .second-nav header .navigation .menu.active{
    right: 0;
    visibility: visible;
  }

  .second-nav .menu-item{
    position: relative;
  }

  .second-nav .menu-item .sub-menu{
    opacity: 1;
    position: relative;
    top: 0;
    transform: translateX(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: none;
  }

  .second-nav header.sticky .menu-item .sub-menu{
    top: 0;
  }

  .second-nav .menu-item:hover .sub-menu{
    transform: translateX(10px);
  }

  .second-nav .menu-item .sub-menu .sub-item{
    box-shadow: none;
  }

  .second-nav .menu-item .sub-menu .sub-item:hover{
    background: none;
  }

  .second-nav .menu-item .sub-menu .sub-item a:hover{
    color: #4080EF;
    transition: 0.3s;
  }

  .more .more-menu{
    opacity: 1;
    position: relative;
    left: 0;
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: none;
  }

  .more .more-menu .more-item{
    box-shadow: none;
  }

  .more .more-menu .more-item:hover{
    background: none;
  }

  .more .more-menu .more-item a{
    margin-left: 20px;
  }

  .close-btn{
    position: absolute;
    background: url("https://flyclipart.com/thumb2/pop-music-close-button-png-icon-free-download-645906.png")no-repeat;
    width: 40px;
    height: 40px;
    background-size: 25px;
    background-position: center;
    top: 0;
    left: 0;
    margin: 25px;
    cursor: pointer;
  }

  .second-nav .menu-btn{
    background: url("https://icon-library.com/images/hamburger-menu-icon-png/hamburger-menu-icon-png-9.jpg")no-repeat;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    display: block;
  }

  .second-nav header{
    padding: 15px 20px;
  }

  .second-nav header.sticky{
    padding: 10px 20px;
  }
}
      



/*********************************
3.2 Header Main
*********************************/


.header_main {
  background-image: linear-gradient(
    140deg,
    var(--section-back) 0%,
    var(--section-back) 50%,
    rgb(240 69 6 / 27%) 75%
  );
}

/* .header.scrolled .header_main {
  display: none;
} */

.header_main_item {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.logo_container {
  height: 80px;
}
.logo {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.logo a {
  font-size: 36px;
  font-weight: 500;
}
.header_search {
  height: 90px;
}
.header_search_content {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header_search_form_container {
  width: 100%;
  height: 50px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
}
.header_search_form {
  width: 100%;
  height: 100%;
  box-shadow: 0 0px 16px rgb(240 69 6 / 27%);
  border-radius: 10px;
}
.header_search_input {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 50px;
  border: none !important;
  outline: none !important;
  padding-left: 26px;
  color: var(--head-text);
  float: left;
}

select {
  display: inline;
  border: 0;
  width: auto;
  margin-left: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 2px solid #555;
  color: #7b00ff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
select:hover {
  cursor: pointer;
}
select option {
  border: 0;
  border-bottom: 1px solid #555;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.header_search_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: var(--head-text);
  border: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.wishlist_cart {
  height: 90px;
}
.wishlist {
  margin-right: 20px;
}
.wishlist_icon img {
  width: 90%;
}
.wishlist_content {
  margin-left: 14px;
}
.wishlist_text a {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.wishlist_text a:hover {
  color: var(--head-text);
}
.wishlist_count {
  margin-top: -2px;
  color: #a3a3a3;
  font-size: 14px;
}
.cart_count {
  position: absolute;
  bottom: -1px;
  right: -14px;
  width: 20px;
  height: 20px;
  background: var(--head-text);
  border-radius: 50%;
  text-align: center;
}
.cart_count span {
  display: block;
  line-height: 20px;
  font-size: 12px;
  color: #ffffff;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}
.cart_icon i {
  font-size: 180%;
  color: rgb(58, 58, 58);
}

.dropbtn {
  font-size: x-large;
  border: none;
  background:none
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left:8%;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  background-color:#fff;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: var(--head-text)}
/*********************************
3.4 Responsive
*********************************/

@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 991px) {
  .header_search {
    height: 50px;
  }
  .custom_dropdown {
    text-align: left;
  }

  .logo_container,
  .wishlist_cart {
    height: 125px;
  }
}

@media only screen and (max-width: 767px) {
  .header_search {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .cart_count {
    position: absolute;
    bottom: -1px;
    right: -16px;
    width: 20px;
    height: 20px;
    background: var(--head-text);
    border-radius: 50%;
    text-align: center;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 13px;
  }

  .logo_container,
  .wishlist_cart {
    height: 72px;
  }
  .logo a {
    font-size: 24px;
  }

  .cat_burger {
    width: 16px;
    height: 12px;
  }
  .cat_burger span:nth-child(2) {
    top: 5px;
  }
  .cat_burger span:nth-child(3) {
    top: 10px;
  }
  .menu_trigger_text {
    font-size: 13px;
    margin-right: 10px;
  }
  .wishlist {
    margin-right: 23px;
  }
  .wishlist_content {
    margin-left: 6px;
  }
  .wishlist_text {
    display: none;
  }
  .cart_text {
    display: none;
  }
  .wishlist_text a,
  .cart_text a {
    font-size: 14px;
  }
  .wishlist_count,
  .cart_price {
    font-size: 12px;
  }
  .wishlist_icon {
    width: 30px;
  }
  .cart_content {
    margin-left: 18px;
  }
  .cart_icon {
    width: 17px;
  }
  .cart_count {
    width: 21px;
    height: 21px;
  }
  .cart_count span {
    line-height: 21px;
  }

  .header_search {
    display: none;
  }

  .button {
    height: 32px;
  }
  .button a {
    font-size: 12px;
    line-height: 32px;
    padding-left: 25px;
    padding-right: 25px;
  }
}


/* Footer */

.footer {
  background-color: var(--section-back);
  color: var(--head-text);
}

.footer p {
  color: var(--head-text);
}

