<!-- <div class="container">
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">3 items</div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center" *ngFor="let item of cartItems; index as i;">
                    <div class="col-3"><img class="img-fluid" src="{{item.prodImage}}"></div>
                    <div class="col">
                        <div class="row text-muted">{{item.prodName}}</div>
                        <div class="row">{{item.flavour}}</div>
                    </div>
                    <div class="col">  
                    
                    <button class="mx-1" (click)="minus($event,item.prodPrice)">-</button><button class="mx-1" (click)="plus($event,item.prodPrice)">+</button>
                    <div class="col">&#x20b9; {{item.prodPrice}} </div> 
                </div>
                <div class="col-1" (click)="deleteItem(item._id)"><i class="fa fa-trash"></i></div>
                </div>
            </div>
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS : {{Items}}</div>
                <div class="col text-right">&#x20b9;{{totalAmt}}</div>
            </div>
           
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col px-3">TOTAL PRICE</div>
                <div class="col text-right">&#x20b9;{{totalAmt-100}} <span style="color:red; text-decoration:line-through">-100rs</span></div>
            </div> <button class="btn" routerLink="/order-place/{{totalAmt-100}}">CHECKOUT</button>
        </div>
    </div>
</div>
</div> -->










<section class="h-100 gradient-custom">
    <div class="container">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3" style="
           
            display: inline-flex;
            justify-content: space-between;
        ">
              <h5 class="mb-0">Cart - {{Items}} items</h5>
              <button class="btn btn-danger"  (click)="deleteCart()">Clear Cart</button>
            </div>
            <div class="card-body">
              <!-- Single item -->
              <div class="row" *ngFor="let item of cartItems; index as i;">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="{{item.prodImage1}}"
                      class="w-100" alt="Blue Jeans Jacket" />
                      <p class="text-start text-md-center m-2">
                        <strong>&#x20b9; {{item.prodPrice}}</strong>
                      </p>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong>{{item.prodName}}</strong></p>
                  <p>Color: {{item.flavour}}e</p>
                  <p>Size: M</p>
                  <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                    title="Remove item" (click)="deleteItem(item._id)">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                    title="Move to the wish list" >
                    <i class="fas fa-heart"></i>
                  </button>
                  <!-- Data -->
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  <div class="d-flex mb-4" style="max-width: 300px">
                    <!-- <button class="btn btn-primary px-3 me-2"
                      onclick="this.parentNode.querySelector('input[id=form1]').stepDown()"
                      (click)="minus($event,item.prodPrice)">
                      <i class="fas fa-minus"></i>
                    </button> -->
                    <!-- <select class="form-control">
                        <option>Default select</option>
                      </select> -->
  
                    <div class="">
                      <!-- <input id="form1" min="1" name="quantity" value="1" type="number" class="form-control" /> -->
                      <select class="form-control" (change)="plus($event,item.prodPrice)">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                      <label class="form-label d-block" for="form1">Quantity</label>
                    </div>
<!--   
                    <button class="btn btn-primary px-3 ms-2"
                      onclick="this.parentNode.querySelector('input[id=form1]').stepUp()"
                      (click)="plus($event,item.prodPrice)">
                      <i class="fas fa-plus"></i>
                    </button> -->
                  </div>
                  <div class="d-flex mb-4" style="max-width: 300px">
                    <!-- <button class="btn btn-primary px-3 me-2"
                      onclick="this.parentNode.querySelector('input[id=form1]').stepDown()"
                      (click)="minus($event,item.prodPrice)">
                      <i class="fas fa-minus"></i>
                    </button> -->
                    <!-- <select class="form-control">
                        <option>Default select</option>
                      </select> -->
  
                    <div>
                      <!-- <input id="form1" min="1" name="quantity" value="1" type="number" class="form-control" /> -->
                      <select class="form-control" (change)="plusSize($event,item.prodPrice)">
                        <option>1 KG</option>
                        <option>2 KG</option>
                        <option>3 KG</option>
                        <option>4 KG</option>
                        <option>5 KG</option>
                      </select>
                      <label class="form-label d-block" for="form1">Available Sizes</label>
                    </div>

                  </div>
              
                </div>
              <hr class="my-4" />

              </div>
              <!-- Single item -->
  
  
              
              <!-- Single item -->
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Expected shipping delivery</strong></p>
              <p class="mb-0">minimum 3 Hours and maximum same day</p>
            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Products
                  <span>&#x20b9;{{totalAmt}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  Shipping
                  <span>WITHIN 60 min</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total amount</strong>
                    <strong>
                      <p class="mb-0">(including VAT)</p>
                    </strong>
                  </div>
                  <span><strong>&#x20b9;{{totalAmt}}</strong></span>
                </li>
              </ul>
              <button type="button"  class="btn btn-primary btn-lg btn-block"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                Go to checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:130%">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div  style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                <div class="row">
                    <div class="col-6">
            <form>
                <div class="form-group m-2">
                    <label for="exampleFormControlInput1">Your Name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                      value="{{userData.current_user.name}}" disabled>
                  </div>
                <div class="form-group m-2">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" value="{{userData.current_user.email}}" disabled>
                </div>
            
                <div class="form-group m-2">
                  <label for="exampleFormControlTextarea1">you can Add some message</label>
                  <textarea class="form-control" name="message"  id="exampleFormControlTextarea1" [(ngModel)]="message" rows="3"></textarea>
                </div>
                <div class="form-group m-2">
                    <label for="exampleFormControlTextarea1">Address</label>
                    <textarea class="form-control"  [(ngModel)]="Address" name="Address" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
            
              </form>
              </div>
              <div class="col-5">
                  <h2>Total Amount :</h2>
                  <h2>&#x20b9; {{totalAmt}}</h2>
            <button type="button" class="btn btn-warning"  data-bs-dismiss="modal" aria-label="Close" (click)="onPay(1)">Procced To Buy</button>
            
              </div>
            
            
            </div>
              </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>